// Custom styles.
body {
    background:url(https://source.unsplash.com/random/1600x900?wallpapers);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
     }
.main-inner { 
    background: #fff;
    opacity: 0.88;
}
.header-inner {
    background: #000;
    opacity: 0.8;
}